{% extends "page_template.html" %}

{% block content %}
<div class="container">
	<div style="text-align:center">
		<h1>
			Statistiques de {{user_name}}
		</h1>
	</div>
	<div class="statistics">
		<div class="col statcol" style="float:none;margin:auto;">
			<div class="statdisplay">
				<h3 style="text-align:center">All time</h3>
				{{ table_tracks_count_all|safe }}
			</div>
		</div>
		<div class="col statcol" style="float:none;margin:auto;">
			<div class="statdisplay">
				<h3 style="text-align:center">Last seven days</h3>
				{{ table_tracks_count_week|safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
